<configuration>
    <server type="HyperFastCgi.ApplicationServers.SimpleApplicationServer">
        <host-factory>HyperFastCgi.HostFactories.SystemWebHostFactory</host-factory>
        <threads min-worker="80" max-worker="0" min-io="4" max-io="0" />
    </server>

    <listener type="HyperFastCgi.Listeners.NativeListener">
        <apphost-transport type="HyperFastCgi.Transports.NativeTransport">
            <multithreading>ThreadPool</multithreading>
        </apphost-transport>
        <protocol>Unix</protocol>
        <address>/tmp/hfc-socket/fastcgi.socket</address>
    </listener>

    <apphost type="HyperFastCgi.AppHosts.AspNet.AspNetApplicationHost">
        <log level="Debug" write-to-console="true" />
        <add-trailing-slash>false</add-trailing-slash>
    </apphost>
    
    <web-applications>
        <web-application>
            <name>${APP_NAME}</name>
            <vhost></vhost>
            <vport>80</vport>
            <vpath>/${APP_NAME}</vpath>
            <path>${WEB_DIR}</path>
        </web-application>
    </web-applications>
</configuration>
